.errorPage {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.errorPage  h2{
    color: chocolate;
}   